nav{
    width: 90%;
    max-width: 1100px;
    height: 82px;
    padding: 0 4rem;
    border: 2px solid var(--light);
    border-radius: 1.5rem;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: var(--dark);
}
/* Hide nav links on mobile by default */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
  }

  /* Show nav when menu-toggle is active */
  .menu-toggle.active + .navLinks {
    display: flex;
  }
}

.logo-img {
  height: 48px;      /* Adjust as needed */
  width: auto;
  object-fit: contain;
  display: block;
}
nav .navLinks a{
    color: var(--light);
    margin-right: 25px;
    font-size: 16px;
    font-weight: 300;
     transition: color 0.3s ease-in;
}

nav .navLinks a:hover{
    color: var(--purple);
}

nav .navLinks button{
    background-color: var(--purple);
    color: var(--light);
    font-size: 18px;
    font-weight: 500;
    padding: 6px 35px;
    border: none;
    border-radius: 20px;
    margin-left: 1rem;
    transition: background 0.3s ease-in;
}

nav .navLinks button:hover{
    background-color: var(--purple-hover);
}

.menuButton{
    width: 80px;
    position: fixed;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    display: none;
    z-index: 9;
}

nav .close{
    display: none;
}

.closeWrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    display: none;
}

/* Responsive Website */

@media screen and(max-width: 1200px){
    nav{
        width: 95%;
        padding: 0 30px;
        border-radius: 2rem;

    }
}

@media screen and (max-width: 640px){
    nav{
        position: fixed;
        border: none;
        height: 100svh;
        min-height: 400px;
        width: 250px;
        top: 0;
        left: unset;
        right: -100;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        transform: none;
        border-radius: 0;
        padding: 3rem 1.5rem;
        transition: all 0.5s ease-in-out;
    }

    nav .navLinks{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
    }

    nav .navLinks a{
        margin: 0.5rem 0;
    }
    nav .navLinks bottom{
        margin: 0;
        position: absolute;
        bottom: 2rem;
    }
    .menuButton{
        display: block;

    }
    nav .close{
        display: block;
        background: none;
        border: none;
        width: 20px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    nav .close img{
        width: 100%;

    }
}